Danish Deepak

# TED Talk Analysis

This project involves working on a dataset which consists information on various TED Talks by a number of authors.

In [1]:
# Importing the necessary libraries.

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
# Importing the dataset as a DataFrame.

df = pd.read_csv('ted_data.csv')

# Looking at the raw Dataframe.

df.head()

,title,author,date,views,likes,link
0,Climate action needs new frontline leadership,Ozawa Bineshi Albert,December 2021,404000,12000,https://ted.com/talks/ozawa_bineshi_albert_cli...
1,The dark history of the overthrow of Hawaii,Sydney Iaukea,February 2022,214000,6400,https://ted.com/talks/sydney_iaukea_the_dark_h...
2,How play can spark new ideas for your business,Martin Reeves,September 2021,412000,12000,https://ted.com/talks/martin_reeves_how_play_c...
3,Why is China appointing judges to combat clima...,James K. Thornton,October 2021,427000,12000,https://ted.com/talks/james_k_thornton_why_is_...
4,Cement's carbon problem — and 2 ways to fix it,Mahendra Singhi,October 2021,2400,72,https://ted.com/talks/mahendra_singhi_cement_s...

### Data Exploration.

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5440 entries, 0 to 5439
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   5440 non-null   object
 1   author  5439 non-null   object
 2   date    5440 non-null   object
 3   views   5440 non-null   int64
 4   likes   5440 non-null   int64
 5   link    5440 non-null   object
dtypes: int64(2), object(4)
memory usage: 255.1+ KB

There is only 1 null value in the DataFrame and that's in the author column.

In [8]:
df['author'].isna().sum()

1

### Data Preprocessing.

In [16]:
# Dropping the row with the null value

df = df.dropna()

# Checking for null values 

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5439 entries, 0 to 5439
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   5439 non-null   object
 1   author  5439 non-null   object
 2   date    5439 non-null   object
 3   views   5439 non-null   int64
 4   likes   5439 non-null   int64
 5   link    5439 non-null   object
dtypes: int64(2), object(4)
memory usage: 297.4+ KB

No Null values.

### Data Analysis

#### Finding the most popular TED Talk Speaker in terms of number of talks.

In [22]:
# Finding all the number of authors

author = {}

for i in df['author']:
    if i not in author:
        author[i] = 0

In [24]:
# Finding the number of talks of each author

for i in author.keys():
    c = 0
    for j in df.values:
        if i == j[1]:
            c += 1
    author[i] = c

In [26]:
# Finding the author with the most number of TED Talks

lst_nt = author.items()
df_nt  = pd.DataFrame(lst_nt, columns = ['Author', 'No. of TED Talks'])
df_nt.sort_values(by = 'No. of TED Talks', ascending = False).head(5)

               Author  No. of TED Talks
63       Alex Gendler                45
6    Iseult Gillespie                33
64        Matt Walker                18
108    Alex Rosenthal                15
26      Elizabeth Cox                13

Alex Gendler is the most popular TED Talk Author in terms of number of TED Talks.

#### Finding the most popular TED Talk speaker in terms of number of views.

In [27]:
# Finding the no. of views of each author

author_v = {}

for i in author.keys():
    c = 0
    for j in df.values:
        if i == j[1]:
            c += j[3]
    author_v[i] = c

In [28]:
# Finding the author with the most views

lst_nv = author_v.items()
df_nv  = pd.DataFrame(lst_nv, columns = ['Author', 'No. of Views'])
df_nv.sort_values(by = 'No. of Views', ascending = False).head(5)

                Author  No. of Views
63        Alex Gendler     187196000
372   Sir Ken Robinson      95654000
355         Bill Gates      77800000
305        Simon Sinek      74800000
3622       Brené Brown      72000000

Alex Gendler is the most famous TED Talk author in terms of number of views and is followed by Sir Ken Robinson and then Bill Gates.

#### Finding the most popular TED Talk Speaker in terms of no. of likes.

In [29]:
# Finding the total no. of likes of each author

author_l = {}

for i in author.keys():
    c = 0
    for j in df.values:
        if i == j[1]:
            c += j[4]
    author_l[i] = c

In [30]:
# Finding the author with the most likes

lst_l = author_l.items()
df_l  = pd.DataFrame(lst_l, columns = ['Author', 'No. of likes'])
df_l.sort_values(by = 'No. of likes', ascending = False).head(5)

                Author  No. of likes
63        Alex Gendler       5691000
372   Sir Ken Robinson       2833600
355         Bill Gates       2349000
305        Simon Sinek       2246000
3622       Brené Brown       2204000

Alex Gendler is the most famous TED Talk author in terms of number of likes and is followed by Sir Ken Robinson and then Bill Gates.

#### Finding the TED Talk with the best view to like ratio.

In [41]:
# Finding view to like ratio of every TED Talk.

ted_talk ={}

for i in df.values:
    ted_talk[i[0]] = round(i[3]/i[4], 2)

In [42]:
# Finding the TED talk with best view to like ratio

lst_vtl = ted_talk.items()
df_vtl  = pd.DataFrame(lst_vtl, columns = ['Title', 'View to Likes ratio'])
df_vtl.sort_values(by = 'View to Likes ratio', ascending = False).head(5)

                                                  Title  View to Likes ratio
955                A camera that can see around corners                 36.4
905                      What's the point(e) of ballet?                 36.4
837   How to see more and care less: The art of Geor...                 36.4
26    Can you outsmart the fallacy that divided a na...                 36.3
1016             The function and fashion of eyeglasses                 36.3

The above Dataframe shows the TED talks with the best view to like ratio.

#### Month Wise Analysis of TED Talks.

In [49]:
# Finding the months

month = {}

for i in df.values:
    if i[2].split(' ')[0] not in month:
        month[i[2].split(' ')[0]] = 0

In [50]:
# Finding the number of TED Talks in every month 

for i in month:
    c = 0
    for j in df.values:
        if i == j[2].split(' ')[0]:
            c += 1
    month[i] = c

In [54]:
# Finding the month with the most number of TED Talks

lst_mt = month.items()
df_mt  = pd.DataFrame(lst_mt, columns = ['Month', 'No. of TED Talks'])
df_mt.sort_values(by = 'No. of TED Talks', ascending = False)

        Month  No. of TED Talks
1    February               725
7    November               682
3     October               585
5       March               580
10      April               576
9        June               493
8        July               446
2   September               349
0    December               334
11        May               322
4      August               200
6     January               147

In the month of February the most number of ted talks happen

#### Year wise analysis of TED Talks.

In [52]:
# Finding the years

year = {}

for i in df.values:
    if i[2].split(' ')[1] not in month:
        year[i[2].split(' ')[1]] = 0

In [55]:
# Finding the number of TED Talks in every year. 

for i in year:
    c = 0
    for j in df.values:
        if i == j[2].split(' ')[1]:
            c += 1
    year[i] = c

In [56]:
# Finding the year with the most number of TED Talks

lst_yt = year.items()
df_yt  = pd.DataFrame(lst_yt, columns = ['Year', 'No. of TED Talks'])
df_yt.sort_values(by = 'No. of TED Talks', ascending = False)

    Year  No. of TED Talks
2   2019               544
5   2020               501
4   2017               495
8   2018               473
3   2016               399
0   2021               390
11  2013               388
6   2015               376
7   2014               357
10  2012               302
14  2011               271
13  2010               267
12  2009               233
17  2007               113
20  2008                84
16  2005                65
18  2006                49
25  2003                34
24  2004                33
26  2002                26
1   2022                20
27  1998                 6
21  2001                 5
9   1970                 2
28  1990                 1
15  1994                 1
23  1991                 1
22  1983                 1
19  1972                 1
29  1984                 1

The Most no. of ted talk happened in the year 2019.

#### Finding TED Talk of your Favourite author.

In [62]:
a = input('Enter your Favourite author: ').lower()
print('')
print('The following are the TED Talks of your favourite author: ')
print('')
print('-'*60)
for i in df.values:
    if a == i[1].lower():
        print('Title : ', i[0])
        print('Author: ', i[1])
        print('Date  : ', i[2])
        print('Views : ', i[3])
        print('Likes : ', i[4])
        print('link  : ', i[5])
        print('-'*60)

Enter your Favourite author: bill gates

The following are the TED Talks of your favourite author:

------------------------------------------------------------
Title :  The innovations we need to avoid a climate disaster
Author:  Bill Gates
Date  :  March 2021
Views :  1700000
Likes :  53000
link  :  https://ted.com/talks/bill_gates_the_innovations_we_need_to_avoid_a_climate_disaster
------------------------------------------------------------
Title :  How the pandemic will shape the near future
Author:  Bill Gates
Date  :  June 2020
Views :  4600000
Likes :  138000
link  :  https://ted.com/talks/bill_gates_how_the_pandemic_will_shape_the_near_future
------------------------------------------------------------
Title :  How we must respond to the coronavirus pandemic
Author:  Bill Gates
Date  :  March 2020
Views :  8600000
Likes :  259000
link  :  https://ted.com/talks/bill_gates_how_we_must_respond_to_the_coronavirus_pandemic
------------------------------------------------------------
Title :  The next outbreak? We're not ready
Author:  Bill Gates
Date  :  March 2015
Views :  43000000
Likes :  1300000
link  :  https://ted.com/talks/bill_gates_the_next_outbreak_we_re_not_ready
------------------------------------------------------------
Title :  Teachers need real feedback
Author:  Bill Gates
Date  :  May 2013
Views :  4500000
Likes :  135000
link  :  https://ted.com/talks/bill_gates_teachers_need_real_feedback
------------------------------------------------------------
Title :  How state budgets are breaking US schools
Author:  Bill Gates
Date  :  March 2011
Views :  2100000
Likes :  63000
link  :  https://ted.com/talks/bill_gates_how_state_budgets_are_breaking_us_schools
------------------------------------------------------------
Title :  Innovating to zero!
Author:  Bill Gates
Date  :  February 2010
Views :  8100000
Likes :  245000
link  :  https://ted.com/talks/bill_gates_innovating_to_zero
------------------------------------------------------------
Title :  Mosquitos, malaria and education
Author:  Bill Gates
Date  :  February 2009
Views :  5200000
Likes :  156000
link  :  https://ted.com/talks/bill_gates_mosquitos_malaria_and_education
------------------------------------------------------------

#### Finding TED Talks Based on tags.

In [65]:
a = input('Enter a Tag: ').lower()
print('')
print('The following are the TED Talks based pn your tag: ')
print('')
print('-'*60)
for i in df.values:
    if a in i[0].lower():
        print('Title : ', i[0])
        print('Author: ', i[1])
        print('Date  : ', i[2])
        print('Views : ', i[3])
        print('Likes : ', i[4])
        print('link  : ', i[5])
        print('-'*60)

Enter a Tag: climate

The following are the TED Talks based pn your tag:

------------------------------------------------------------
Title :  Climate action needs new frontline leadership
Author:  Ozawa Bineshi Albert
Date  :  December 2021
Views :  404000
Likes :  12000
link  :  https://ted.com/talks/ozawa_bineshi_albert_climate_action_needs_new_frontline_leadership
------------------------------------------------------------
Title :  Why is China appointing judges to combat climate change?
Author:  James K. Thornton
Date  :  October 2021
Views :  427000
Likes :  12000
link  :  https://ted.com/talks/james_k_thornton_why_is_china_appointing_judges_to_combat_climate_change
------------------------------------------------------------
Title :  The ocean's ingenious climate solutions
Author:  Susan Ruffo
Date  :  October 2021
Views :  522000
Likes :  15000
link  :  https://ted.com/talks/susan_ruffo_the_ocean_s_ingenious_climate_solutions
------------------------------------------------------------
Title :  How we're reducing the climate impact of electronics
Author:  Tim Dunn
Date  :  February 2022
Views :  96000
Likes :  2900
link  :  https://ted.com/talks/tim_dunn_how_we_re_reducing_the_climate_impact_of_electronics
------------------------------------------------------------
Title :  How to boost nature-based solutions to climate change
Author:  Zac Goldsmith
Date  :  October 2021
Views :  30000
Likes :  913
link  :  https://ted.com/talks/zac_goldsmith_how_to_boost_nature_based_solutions_to_climate_change
------------------------------------------------------------
Title :  The unexpected, underwater plant fighting climate change
Author:  Carlos M. Duarte
Date  :  August 2021
Views :  786000
Likes :  23000
link  :  https://ted.com/talks/carlos_m_duarte_the_unexpected_underwater_plant_fighting_climate_change
------------------------------------------------------------
Title :  Language shouldn't be a barrier to climate action
Author:  Sophia Kianni
Date  :  October 2021
Views :  861000
Likes :  25000
link  :  https://ted.com/talks/sophia_kianni_language_shouldn_t_be_a_barrier_to_climate_action
------------------------------------------------------------
Title :  It's time to write a new climate story
Author:   Countdown
Date  :  October 2021
Views :  11000
Likes :  332
link  :  https://ted.com/talks/countdown_it_s_time_to_write_a_new_climate_story
------------------------------------------------------------
Title :  Use your voice, vote and wallet for climate action
Author:  Halla Tómasdóttir
Date  :  December 2021
Views :  969000
Likes :  29000
link  :  https://ted.com/talks/halla_tomasdottir_use_your_voice_vote_and_wallet_for_climate_action
------------------------------------------------------------
Title :  A next-generation solution to climate crisis
Author:  Nkosilathi Nyathi
Date  :  December 2021
Views :  200000
Likes :  6000
link  :  https://ted.com/talks/nkosilathi_nyathi_a_next_generation_solution_to_climate_crisis
------------------------------------------------------------
Title :  Community investment is the missing piece of climate action
Author:  Dawn Lippert
Date  :  October 2021
Views :  1000000
Likes :  32000
link  :  https://ted.com/talks/dawn_lippert_community_investment_is_the_missing_piece_of_climate_action
------------------------------------------------------------
Title :  Dear world leaders, these are our climate demands
Author:  Xiye Bastida, Shiv Soin and Latif Nasser
Date  :  October 2021
Views :  260000
Likes :  7800
link  :  https://ted.com/talks/xiye_bastida_shiv_soin_and_latif_nasser_dear_world_leaders_these_are_our_climate_demands
------------------------------------------------------------
Title :  An action plan for solving the climate crisis
Author:  John Doerr and Ryan Panchadsaram
Date  :  October 2021
Views :  1200000
Likes :  36000
link  :  https://ted.com/talks/john_doerr_and_ryan_panchadsaram_an_action_plan_for_solving_the_climate_crisis
------------------------------------------------------------
Title :  Can climate change ever be funny? 17 comedians try to answer
Author:  Rainn Wilson
Date  :  October 2021
Views :  7100
Likes :  214
link  :  https://ted.com/talks/rainn_wilson_can_climate_change_ever_be_funny_17_comedians_try_to_answer
------------------------------------------------------------
Title :  The crucial intersection of climate and capital
Author:  Nili Gilbert
Date  :  October 2021
Views :  1200000
Likes :  37000
link  :  https://ted.com/talks/nili_gilbert_the_crucial_intersection_of_climate_and_capital
------------------------------------------------------------
Title :  The powerful women on the front lines of climate action
Author:  Farwiza Farhan
Date  :  October 2021
Views :  1000000
Likes :  32000
link  :  https://ted.com/talks/farwiza_farhan_the_powerful_women_on_the_front_lines_of_climate_action
------------------------------------------------------------
Title :  How small countries can make a big impact on climate change
Author:  Nicola Sturgeon
Date  :  October 2021
Views :  1200000
Likes :  38000
link  :  https://ted.com/talks/nicola_sturgeon_how_small_countries_can_make_a_big_impact_on_climate_change
------------------------------------------------------------
Title :  How to make radical climate action the new normal
Author:  Al Gore
Date  :  October 2021
Views :  1500000
Likes :  47000
link  :  https://ted.com/talks/al_gore_how_to_make_radical_climate_action_the_new_normal
------------------------------------------------------------
Title :  The fastest way to slow climate change now
Author:  Ilissa Ocko
Date  :  October 2021
Views :  1500000
Likes :  46000
link  :  https://ted.com/talks/ilissa_ocko_the_fastest_way_to_slow_climate_change_now
------------------------------------------------------------
Title :  Can China achieve its ambitious climate pledges?
Author:  Hongqiao Liu
Date  :  October 2021
Views :  1300000
Likes :  39000
link  :  https://ted.com/talks/hongqiao_liu_can_china_achieve_its_ambitious_climate_pledges
------------------------------------------------------------
Title :  The state of the climate crisis in 2021
Author:  Climate Action Tracker
Date  :  August 2021
Views :  422000
Likes :  12000
link  :  https://ted.com/talks/climate_action_tracker_the_state_of_the_climate_crisis_in_2021
------------------------------------------------------------
Title :  Remembering climate change ... a message from the year 2071
Author:  Kim Stanley Robinson
Date  :  July 2021
Views :  1600000
Likes :  50000
link  :  https://ted.com/talks/kim_stanley_robinson_remembering_climate_change_a_message_from_the_year_2071
------------------------------------------------------------
Title :  What if we saw climate change as an amazing challenge, not a burden?
Author:  Laura Tenenbaum
Date  :  May 2016
Views :  47000
Likes :  1400
link  :  https://ted.com/talks/laura_tenenbaum_what_if_we_saw_climate_change_as_an_amazing_challenge_not_a_burden
------------------------------------------------------------
Title :  What to do when climate change feels unstoppable
Author:  Clover Hogan
Date  :  February 2021
Views :  1800000
Likes :  55000
link  :  https://ted.com/talks/clover_hogan_what_to_do_when_climate_change_feels_unstoppable
------------------------------------------------------------
Title :  What farmers need to be modern, climate-friendly and profitable
Author:  Beth Ford
Date  :  April 2021
Views :  1300000
Likes :  39000
link  :  https://ted.com/talks/beth_ford_what_farmers_need_to_be_modern_climate_friendly_and_profitable
------------------------------------------------------------
Title :  Women and girls, you are part of the climate solution
Author:  Rumaitha Al Busaidi
Date  :  May 2021
Views :  1300000
Likes :  39000
link  :  https://ted.com/talks/rumaitha_al_busaidi_women_and_girls_you_are_part_of_the_climate_solution
------------------------------------------------------------
Title :  Cities are driving climate change. Here's how they can fix it
Author:  Angel Hsu
Date  :  October 2020
Views :  345000
Likes :  10000
link  :  https://ted.com/talks/angel_hsu_cities_are_driving_climate_change_here_s_how_they_can_fix_it
------------------------------------------------------------
Title :  3 strategies for effectively talking about climate change
Author:  John Marshall
Date  :  March 2021
Views :  1200000
Likes :  37000
link  :  https://ted.com/talks/john_marshall_3_strategies_for_effectively_talking_about_climate_change
------------------------------------------------------------
Title :  Earth's original inhabitants — and their role in combating climate change
Author:  Steven Allison
Date  :  October 2020
Views :  1200000
Likes :  38000
link  :  https://ted.com/talks/steven_allison_earth_s_original_inhabitants_and_their_role_in_combating_climate_change
------------------------------------------------------------
Title :  How we can curb climate change by spending two percent more on everything
Author:  Jens Burchardt
Date  :  April 2021
Views :  1300000
Likes :  39000
link  :  https://ted.com/talks/jens_burchardt_how_we_can_curb_climate_change_by_spending_two_percent_more_on_everything
------------------------------------------------------------
Title :  The innovations we need to avoid a climate disaster
Author:  Bill Gates
Date  :  March 2021
Views :  1700000
Likes :  53000
link  :  https://ted.com/talks/bill_gates_the_innovations_we_need_to_avoid_a_climate_disaster
------------------------------------------------------------
Title :  Love, sorrow and the emotions that power climate action
Author:  Knut Ivar Bjørlykhaug
Date  :  November 2020
Views :  1300000
Likes :  39000
link  :  https://ted.com/talks/knut_ivar_bjorlykhaug_love_sorrow_and_the_emotions_that_power_climate_action
------------------------------------------------------------
Title :  Climate change is our reality. Here's how we're taking action
Author:  Al Gore, Gloria Kasang Bulus, Nana Firman, Ximena Loría and Tim Guinee
Date  :  October 2020
Views :  1200000
Likes :  37000
link  :  https://ted.com/talks/al_gore_gloria_kasang_bulus_nana_firman_ximena_loria_and_tim_guinee_climate_change_is_our_reality_here_s_how_we_re_taking_action
------------------------------------------------------------
Title :  The people who caused the climate crisis aren't the ones who will fix it
Author:  Angela Mahecha Adrar
Date  :  December 2020
Views :  1200000
Likes :  37000
link  :  https://ted.com/talks/angela_mahecha_adrar_the_people_who_caused_the_climate_crisis_aren_t_the_ones_who_will_fix_it
------------------------------------------------------------
Title :  Community-powered solutions to the climate crisis
Author:  Rahwa Ghirmatzion and Zelalem Adefris
Date  :  October 2020
Views :  1300000
Likes :  39000
link  :  https://ted.com/talks/rahwa_ghirmatzion_and_zelalem_adefris_community_powered_solutions_to_the_climate_crisis
------------------------------------------------------------
Title :  Our moral imperative to act on climate change — and 3 steps we can take (English voiceover)
Author:  His Holiness Pope Francis
Date  :  October 2020
Views :  99000
Likes :  2900
link  :  https://ted.com/talks/his_holiness_pope_francis_our_moral_imperative_to_act_on_climate_change_and_3_steps_we_can_take_english_voiceover
------------------------------------------------------------
Title :  How carbon capture networks could help curb climate change
Author:  Bas Sudmeijer
Date  :  October 2020
Views :  1300000
Likes :  39000
link  :  https://ted.com/talks/bas_sudmeijer_how_carbon_capture_networks_could_help_curb_climate_change
------------------------------------------------------------
Title :  A chef shares: Here's how we can feed the planet without hurting the climate
Author:  Peggy Chan
Date  :  October 2020
Views :  2100
Likes :  65
link  :  https://ted.com/talks/peggy_chan_a_chef_shares_here_s_how_we_can_feed_the_planet_without_hurting_the_climate
------------------------------------------------------------
Title :  To save the climate, we have to reimagine capitalism
Author:  Rebecca Henderson
Date  :  October 2020
Views :  1600000
Likes :  50000
link  :  https://ted.com/talks/rebecca_henderson_to_save_the_climate_we_have_to_reimagine_capitalism
------------------------------------------------------------
Title :  The energy Africa needs to develop — and fight climate change
Author:  Rose M. Mutiso
Date  :  October 2020
Views :  1400000
Likes :  44000
link  :  https://ted.com/talks/rose_m_mutiso_the_energy_africa_needs_to_develop_and_fight_climate_change
------------------------------------------------------------
Title :  The case for stubborn optimism on climate
Author:  Christiana Figueres
Date  :  October 2020
Views :  1300000
Likes :  41000
link  :  https://ted.com/talks/christiana_figueres_the_case_for_stubborn_optimism_on_climate
------------------------------------------------------------
Title :  Climate change is becoming a problem you can taste
Author:  Amanda Little
Date  :  October 2020
Views :  1600000
Likes :  49000
link  :  https://ted.com/talks/amanda_little_climate_change_is_becoming_a_problem_you_can_taste
------------------------------------------------------------
Title :  Amazon's climate pledge to be net-zero by 2040
Author:  Dave Clark and Kara Hurst
Date  :  October 2020
Views :  1500000
Likes :  45000
link  :  https://ted.com/talks/dave_clark_and_kara_hurst_amazon_s_climate_pledge_to_be_net_zero_by_2040
------------------------------------------------------------
Title :  Make your actions on climate reflect your words
Author:  Severn Cullis-Suzuki
Date  :  October 2020
Views :  1500000
Likes :  46000
link  :  https://ted.com/talks/severn_cullis_suzuki_make_your_actions_on_climate_reflect_your_words
------------------------------------------------------------
Title :  Climate justice can't happen without racial justice
Author:  David Lammy
Date  :  October 2020
Views :  1600000
Likes :  48000
link  :  https://ted.com/talks/david_lammy_climate_justice_can_t_happen_without_racial_justice
------------------------------------------------------------
Title :  Our moral imperative to act on climate change — and 3 steps we can take
Author:  His Holiness Pope Francis
Date  :  October 2020
Views :  1700000
Likes :  51000
link  :  https://ted.com/talks/his_holiness_pope_francis_our_moral_imperative_to_act_on_climate_change_and_3_steps_we_can_take
------------------------------------------------------------
Title :  The state of the climate crisis	in 2020
Author:  Climate Action Tracker
Date  :  October 2020
Views :  240000
Likes :  7200
link  :  https://ted.com/talks/climate_action_tracker_the_state_of_the_climate_crisis_in_2020
------------------------------------------------------------
Title :  A game that lets you decide how to tackle the climate crisis
Author:  Cassie Flynn
Date  :  September 2019
Views :  2500
Likes :  75
link  :  https://ted.com/talks/cassie_flynn_a_game_that_lets_you_decide_how_to_tackle_the_climate_crisis
------------------------------------------------------------
Title :  How city mayors are taking action on climate change
Author:  Eric Garcetti
Date  :  July 2020
Views :  1500000
Likes :  46000
link  :  https://ted.com/talks/eric_garcetti_how_city_mayors_are_taking_action_on_climate_change
------------------------------------------------------------
Title :  The new urgency of climate change
Author:  Al Gore
Date  :  June 2020
Views :  2300000
Likes :  70000
link  :  https://ted.com/talks/al_gore_the_new_urgency_of_climate_change
------------------------------------------------------------
Title :  The economic benefits of climate action
Author:  Marcelo Mena
Date  :  May 2020
Views :  243000
Likes :  7200
link  :  https://ted.com/talks/marcelo_mena_the_economic_benefits_of_climate_action
------------------------------------------------------------
Title :  The link between climate change, health and poverty
Author:  Cheryl Holder
Date  :  March 2020
Views :  291000
Likes :  8700
link  :  https://ted.com/talks/cheryl_holder_the_link_between_climate_change_health_and_poverty
------------------------------------------------------------
Title :  Indigenous knowledge meets science to take on climate change
Author:  Hindou Oumarou Ibrahim
Date  :  December 2019
Views :  1200000
Likes :  37000
link  :  https://ted.com/talks/hindou_oumarou_ibrahim_indigenous_knowledge_meets_science_to_take_on_climate_change
------------------------------------------------------------
Title :  How we could change the planet's climate future
Author:  David Wallace-Wells
Date  :  September 2019
Views :  2200000
Likes :  68000
link  :  https://ted.com/talks/david_wallace_wells_how_we_could_change_the_planet_s_climate_future
------------------------------------------------------------
Title :  How to turn climate anxiety into action
Author:  Renée Lertzman
Date  :  December 2019
Views :  2100000
Likes :  65000
link  :  https://ted.com/talks/renee_lertzman_how_to_turn_climate_anxiety_into_action
------------------------------------------------------------
Title :  What ocean microbes reveal about the changing climate
Author:  Angelicque White
Date  :  November 2019
Views :  1900000
Likes :  57000
link  :  https://ted.com/talks/angelicque_white_what_ocean_microbes_reveal_about_the_changing_climate
------------------------------------------------------------
Title :  Climate change will displace millions. Here's how we prepare
Author:  Colette Pichon Battle
Date  :  December 2019
Views :  3500000
Likes :  107000
link  :  https://ted.com/talks/colette_pichon_battle_climate_change_will_displace_millions_here_s_how_we_prepare
------------------------------------------------------------
Title :  How we can turn the tide on climate
Author:  Christiana Figueres and Chris Anderson
Date  :  December 2019
Views :  2100000
Likes :  65000
link  :  https://ted.com/talks/christiana_figueres_and_chris_anderson_how_we_can_turn_the_tide_on_climate
------------------------------------------------------------
Title :  Why I protest for climate justice
Author:  Jane Fonda
Date  :  December 2019
Views :  1900000
Likes :  57000
link  :  https://ted.com/talks/jane_fonda_why_i_protest_for_climate_justice
------------------------------------------------------------
Title :  How climate change could make our food less nutritious
Author:  Kristie Ebi
Date  :  April 2019
Views :  2200000
Likes :  68000
link  :  https://ted.com/talks/kristie_ebi_how_climate_change_could_make_our_food_less_nutritious
------------------------------------------------------------
Title :  Why you should be a climate activist
Author:  Luisa Neubauer
Date  :  July 2019
Views :  2500000
Likes :  77000
link  :  https://ted.com/talks/luisa_neubauer_why_you_should_be_a_climate_activist
------------------------------------------------------------
Title :  A climate change solution that's right under our feet
Author:  Asmeret Asefaw Berhe
Date  :  April 2019
Views :  2000000
Likes :  60000
link  :  https://ted.com/talks/asmeret_asefaw_berhe_a_climate_change_solution_that_s_right_under_our_feet
------------------------------------------------------------
Title :  Emergency medicine for our climate fever
Author:  Kelly Wanser
Date  :  July 2019
Views :  1900000
Likes :  57000
link  :  https://ted.com/talks/kelly_wanser_emergency_medicine_for_our_climate_fever
------------------------------------------------------------
Title :  How climate change affects your mental health
Author:  Britt Wray
Date  :  May 2019
Views :  2400000
Likes :  74000
link  :  https://ted.com/talks/britt_wray_how_climate_change_affects_your_mental_health
------------------------------------------------------------
Title :  Underwater farms vs. climate change
Author:  Ayana Elizabeth Johnson and Megan Davis
Date  :  June 2019
Views :  518000
Likes :  15000
link  :  https://ted.com/talks/ayana_elizabeth_johnson_and_megan_davis_underwater_farms_vs_climate_change
------------------------------------------------------------

This concludes this analysis project.